* {
  margin: auto;
  width: auto;
}
body{
  /* padding-left: 8%; */
}
.content h2 {
  font: italic small-caps bold 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  /* padding-top: 1%; */
}
.header{
  margin-top: 0;
  padding-bottom: 20px;
}
.conversions{
    font: italic small-caps bold 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    text-align: left;
    /* margin-top: 4%; */
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 20%, 50%);
    position: fixed;
    top: 0;
    padding-top: 1%;
}
li a, .dropbtn {
    display: block;
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.dropdown {
    display: inline-block;
}
li a:hover {
    background-color: hsl(0, 20%, 50%);
}
/* button:hover{
  background-color: hsl(0, 20%, 50%);
} */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/* .dropdown-content a:hover {background-color: #f1f1f1} */

.dropdown:hover .dropdown-content {
    display: block;
}
@media (min-width: 400px) {
  .header{
    padding-top: 100px;
  }
@media (min-width: 500px) {
  .header{
    padding-top: 100px;
  }
}
@media (min-width: 600px) {
  ul{
    width: 80%;
  }
  .header{
    padding-top: 80px;
  }
}
@media (min-width: 1000px) {
  ul{
    width: 73.8%;
  }
}
