.header:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
* {
  /* margin: auto; */
  }
.container{
  width: 90%;
}
.header{
    background-image: url('/home/coder/projects/My_Portfolio/images/background-pattern-18.jpg');
}
.header {
  margin-top: 8%;
}
.header h2 {
  text-shadow: 2px 2px 8px maroon;
  float: left;
  padding-left: 50%;
  padding-top: 10%;
}
.header img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  float: right;
  margin-right: 50%;
}
ul {
    border: 1px solid #e7e7e7;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    margin-bottom: 10%;
    width: 80%;

}
li {
    float: left;
}
li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
    color: white;
}

.active {
    background-color: #555;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
#home{
  text-align: center;
  padding-right: 5%;
  padding-left: 10%;
  color: maroon;
  font-family: fantasy;
  font-size: 20px;
}
h6 {
  font-size: 15px;
}
